# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node / tooling caches
node_modules/
*.log

# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/

# Composer
vendor/
composer.lock

# IDE/editor
.vscode/
.idea/
*.swp
